<div class="hero" style="background-image: url('/images/cliffs_of_moher.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>Making technology work for you</h1>
        <hr>
        <p class="lead">
            Setup as a reaction to the lack of senior technology talent available to businesses, in particular startups, CTO as a service provides the capabilities you need. We work flexibly and deliver the solution you need for your problems.
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Cliffs of Moher, by <a href="http://www.flickr.com/photos/alfarese/2780612581/" target="_blank">Alessandro Farese</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence"><small>(by-nc-nd)</small></a>
    </p>
  </div>
</div>
